<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="card listing-card col-6 offset-3" style="max-width: 40rem; margin-top: 2rem">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.image.filename %>">
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="show-card"><%= listing.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: &#8377;<%= listing.price.toLocaleString("en-IN") %></li>
          <li class="list-group-item"><i><%= listing.location %>, <%= listing.country %></i></li>
        </ul>
        <% if (currUser && listing.owner._id.toString() === currUser._id.toString()) { %>
          <div class="card-body" style="display: flex">
            <a href="/listings/<%= listing._id %>/edit" class="card-link btn btn-dark add-btn">Edit</a>
            <button class="card-link btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
          </div>
        <% } %>
        <hr style="opacity: 20%;">
        <% if(currUser) { %>
        <div class="mb-3 mt-3 col-8">
          <h5>Leave a Review</h4>
          <form action="/listings/<%= listing._id%>/reviews" method="POST" novalidate class="needs-validation">
          
            <div class="mt-3">
              <label style="transform: scale(1.1); transform-origin: center; margin-left: 1.5rem" class="form-label form-range" for="rating">Rating</label>
              <fieldset class="starability-basic">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>  
            </div>          
            <div>
              <label class="mb-2" class="form-label" for="comment">Add Comments</label>
              <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="5" required></textarea>
              <div class="invalid-feedback">Please add a comment for the review</div>
            </div>
            <button class="mt-3 btn btn-outline-dark">Submit</button>
          </form>
        </div>
        <hr>
        <% } %>
        <!-- <% if(listing.reviews.length) { %> -->
        <div class="all-reviews mt-2">
          <h5 class="mb-3">All reviews</h5>
          <div class="row">
            <% for (review of listing.reviews) { %>
              <div class="card ms-3 col-5 mb-2">
                <div class="card-body">
                  <h5 class="card-title"><%=review.author.username%><% if(currUser && review.author._id.equals(currUser._id)) { %> <i>(You)</i><% } %></h5>
                  <p class="starability-result" data-rating="<%= review.rating %>"></p>
                  <div class="card-text"><%=review.comment%></div>
                </div>
                <% if(currUser && review.author._id.equals(currUser._id)) { %>
                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-dark mb-3 ms-2">Delete</button>
                </form> 
                <% } %>
              </div>
            <% } %>
          </div>
        </div>
        <!-- <% } %> -->
    </div>
</body>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete the listing?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <form method="POST" action="/listings/<%= listing._id %>/delete?_method=DELETE">
          <button type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>