<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="card col-6 offset-3" style="max-width: 40rem; margin-top: 2rem">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.image.filename %>">
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="show-card"><%= listing.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: &#8377;<%= listing.price.toLocaleString("en-IN") %></li>
          <li class="list-group-item"><i><%= listing.location %>, <%= listing.country %></i></li>
        </ul>
        <div class="card-body" style="display: flex">
          <a href="/listings/<%= listing._id %>/edit" class="card-link btn btn-dark add-btn">Edit</a>
          <form method="POST" action="/listings/<%= listing._id %>/delete?_method=DELETE">
            <button class="card-link btn btn-dark">Delete</button>
         </form>
        </div>
        <hr style="opacity: 20%;">
        <div class="mb-3 mt-3 col-8">
          <h5>Leave a Review</h4>
          <form action="/listings/<%= listing.id%>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
              <label class="mb-1 form-label form-range" for="rating">Rating</label><br>
              <input type="range" min="1" max="5" id="rating" name="review[rating]">
            </div>
            <div>
              <label class="form-label" for="comment">Add Comments</label>
              <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="5" required></textarea>
              <div class="invalid-feedback">Please add a comment for the review</div>
            </div>
            <button class="mt-3 btn btn-outline-dark">Submit</button>
          </form>
        </div>
    </div>
</body>